<div class="row subrow">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 cntr">
        <p id="titlesub">a hive of bug-sized travel guides</p>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-10">
        <p class="postcat">Most Recent Post:</p>
        <% @posts.each do |post| %>
            <p class="artTitle"><%= post.article_title %></p>
            <p class="artDate"><%= post.post_date %></p>
            <p class="artFull"><%= simple_format post.article_body %></p>
            <img class="artImage1" src="<%= post.photo2_url %>">
            <img class="artImage2" src="<%= post.photo1_url %>">
        <% end %>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
</div>
