<p id="notice"><%= notice %></p>
<div class="row guides">
    <div class="col-xl-3 col-lg-3 col-md-3 sm-hidden xs-hidden"></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p class="artTitle">All Guides</p>

        <% @posts.each do |post| %>
          <%= link_to post.article_title, post, { :class=>"artLinks" } %>
          <br>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 sm-hidden xs-hidden"></div>
</div>

<br>
<br>

<%= link_to 'New Post', new_post_path %>
