<p id="notice"><%= notice %></p>


<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 sm-hidden xs-hidden"></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="artTitle"><%= @post.article_title %></p>
        <p class="artDate"><%= @post.post_date %></p>
        <p class="artFull"><%= simple_format @post.article_body %></p>
        <img class="artImage1" src="<%= @post.photo2_url %>">
        <img class="artImage2" src="<%= @post.photo1_url %>">
        <p class="artDate"><%= @post.city %>, <%= @post.country %></p>
        <% @post.attributes.each do |attr| %>
		      <% if attr[1] == true %>
		        <p class="artList">
		          <%= attr[0] %>
		        </p>
		      <% end %>
        <% end %>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 sm-hidden xs-hidden"></div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
